<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
          color: orange;
        }
    </style>
  </head>
  <body>
  <a href = "/logout" > Logout </a>
  &nbsp<a href = "/home" > Home </a>
  <h4>Money balance: <% cout << context["money"]; %></h4>
  <form action="/addmoney" method="post">
    <input name="money" type="number" placeholder="money" required/> <br/>
    <button type="submit">increase money</button> <br>
  </form>
  <h1> Your purchased films </h1>
  <%
  for (int i = 0; i < stoi(context["count"]); i++)
  {
  %>
  <h3> Details of <% cout << context["name" + to_string(i)]; %></h3>
  <h4>Director: <% cout << context["director" + to_string(i)]; %></h4>
  <h4>Length: <% cout << context["length" + to_string(i)]; %></h4>
  <h4>Year: <% cout << context["year" + to_string(i)]; %></h4>
  <h4>Rate: <% cout << stoi(context["rate" + to_string(i)]); %></h4>
  <%
  for (int j = 0; j < stoi(context["rate" + to_string(i)]) / 2; j++)
  {
  %>
    <span class="fa fa-star checked"></span>
  <%
  }   
  for (int j = 5 - stoi(context["rate" + to_string(i)]) / 2; j > 0; j--)
  {
  %>
    <span class="fa fa-star"></span>
  <%
  }   
  %> 
  <h4>Price: <% cout << context["price" + to_string(i)]; %></h4>
  <a href = '<% cout  << "/filmdetails?film_id=" << context["id" + to_string(i)]; %>'> more details </a>
  <%
  } 
  %>
  </body>
</html>
